.list{
    overflow: hidden;
    animation: scroll 120s linear infinite;
    animation-direction: alternate;
    margin-top: 5px;
    padding-left: 0px;
    z-index: 0;
  }
  .list-mobi{
    animation: scroll-mobi 180s linear infinite;
    animation-direction: alternate;
    animation-duration: 180s;
    padding-left: 0px;
    z-index: 0;
    list-style-type: none;
  }

  @media (max-width: 368px){
    .list-mobi{
      margin-top: 24px!important;
    }
    .item-wrapper-mobi{
      min-width: 120px;
    }

    #globalbet{
      margin-top:163px;
    }
  }
  @media (max-width: 420px){


    
  }

  @media (min-width: 400px){
    .list-mobi{
      margin-top: 2px!important;
    }
    .item-wrapper-mobi{
      min-width: 100px;
    }
    #globalbet{
      margin-top:143px;
    }
  }
  @media (min-width: 768px){
    #globalbet{
      margin-top:0px!important;
    }
  }
  .wrapper{
    max-height: 300px;
    overflow: hidden;
    background-color: white;
    width: 100%;
  }
  .wrapper-mobi{
    max-height: 300px;
    overflow-x: hidden;
    background-color: white;
    width: 100%;
  }
  .item-wrapper{
    background-color: white;
    color:#0d9737;
    display: flex;
    justify-content: space-between;
    width: 100%!important;
  }
  .item-wrapper-mobi{
    background-color: #0D9737;
    color:#fff;
    border-bottom-right-radius: 16px;
    font-size: 10px;
    
  }
  .item-wrapper .time-ago{
    color: #9CA0AB;
    float: right;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 13px;
    text-align: right;
  }
  .list-mobi li{
    border-bottom: 0px!important;
    border-right:1px solid rgba(0, 0, 0, .125) ;
    margin-right: 10px;
    border-bottom-right-radius: 16px;
   
  }
  .item-wrapper-mobi .cash{
    font-weight: bold;
    font-size: 12px!important;
    font-style: italic;
    color: #ffd632;
  }
  .bot{
    padding: 0px 5px 5px 5px;
    border-bottom-right-radius: 16px;
  }
  @keyframes scroll {
    100% {
      transform: translate(0px, -2500px);
    }
  }
  @keyframes scroll-mobi {
    from {transform: translate(0px, 0px);}
  }