<div class="app-page">
    <div class="row" >
    	<header class="panel-header pink-bg pg-0 dl">Download Android</header>
        <div class="col-sm-12 text-d wordwrap">
            <div> For the best experience with android phone download Bet Palace app from the link below </div>
            <a href="https://betpalace.co.ke/betpalace.apk" class="place-bet-btn dd" type="button">Download</a>
            <div>See the pictorial presentation below for details on how android app works. </div>
        </div>
        <div class="col-sm-12">
           <div class="col-sm-3 android-box">

            Give your Predictions on the App and Place your Bet

           </div>
           <div class="col-sm-1">
            <span class="helper"></span>
            <img class="android" src="/img/white-arrow-image.png" alt="Bet Palace Android App" />
           </div>
           <div class="col-sm-3 android-box">
           You will receive a ticket number for your Bet

           </div>
           <div class="col-sm-1">
           <span class="helper"></span>
           <img class="android" src="/img/white-arrow-image.png" alt="Bet Palace Android App" />
           </div>
           <div class="col-sm-3 android-box">

           Pay for ticket on M-PESA or Airtel Money, PAYBILL Number <span class="android-pn">290085</span>, ACCOUNT <i>"Your Ticket Number"</i>
           </div>

        </div>

    </div>
</div>

<style>

.text-d{
    margin:10px 0px;
}
.dd{
    padding:5px;
    width:100px; 
    font-size:16px;
    border-radius:5px;
}
.row{
    overflow:hidden;
}

header.dl{
padding-top:10px;
}
 .center-container {
        position: relative;
        min-height: 125px;
        height: auto;
    }

    .centered-content {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        counter-reset: item;
    }

    .wordwarp {
        word-wrap: break-word;
    }

</style>