<tr class="hide-on-affix odds-bg">
    <td>TOTAL ODDS</td>

    <td class="pull-right">BET AMOUNT</td>
<tr class="odds-bg">
    <td class="og-autobet"><b> 500 </b></td>
    <td class="pull-right">
        <div id="betting">
            <input class="bet-select" type="text" id="bet_amount" name="bet_amount" value="20"
                   min="20" max="20000" disabled="disabled"/>
        </div>
    </td>
</tr>
<tr>
    <td colspan="2"></td>
</tr>
<tr class="bet-win-tr hide-on-affix possible-win-bg">
    <td>POSSIBLE WIN</td>
    <td class="pull-right">
        KES. <span id="pos_win"> 5,000.00 </span>
    </td>
</tr>
<!--
<tr class="bet-win-tr hide-on-affix">
    <td>Tax (18%)</td>
    <td>KES. <span id="tax"><?php // $tax = (18 * $taxable) / 100; // echo round($tax); ?></span></td>
</tr>
<tr class="bet-win-tr hide-on-affix">
    <td>Net Amount</td>
    <td>KES. <span id="net-amount"><?php // echo round($winnings - $tax) ?></span></td>
</tr>
-->
