<div class="panel-header">
    <h2>Mfalme Bonus</h2>
</div>
<div class="inner-content whitebg">
<p class="static-header"> <strong>How  to  use Mfalme Bonus</strong></p>
<p>Mfalme bonus  is  Ksh 2000 designed  to  welcome  you  to  Betpalace,The  best  betting  platform in  Kenya .
Redeem  your  bonus with  4  easy  steps:
</p>
  <ol >
    <li style="color:#fff; opacity:0.5">Register  on  www.betpalace.co.ke or  send SMS  JOIN to 29085 to receive your 2000 Mfalme Bonus</li>
    <li style="color:#fff; opacity:0.5">Deposit money  in  your  account  using  the  paybill 290085</li>
    <li style="color:#fff; opacity:0.5" >Select  a single  bet  or multibet(MUST  HAVE a total odd  of 4 and  above) that  you  want  to  bet on and  put  your  stake</li>
    <li style="color:#fff; opacity:0.5" style="color:#fff, opacity:0.8" >Once you  bet, the bonus is used to discount your bet at the rate of 10% of your stake amount. e.g for a stake of Kes 1000, Kes 900 will be deducted from your account and Kes 100 from your Mfalme bonus </li>
  </ol>
<br/>
<p>You can redeem your bonus at any time as many times. All bonuses are  subject to terms and conditions and are not directly withdrawable. Bonus can only be converted by placing bet and winning on such bets.</p>
</div>
