<div class="mobi">
<h2><?php echo $theCompetition['0']['sport_name']." > ".$theCompetition['0']['category']; 
?></h2>
<ul class="f-list">
	<?php foreach($competitions as $competition): ?>
			<li>
				<a class="b fa fa-chevron-right" href="../competition?id=<?= $competition['competition_id'] ?>&sp=<?= $competition['sport_id']?>"><span class="f-league"><?= $competition['competition_name'] ?></span></a>
			</li>
	<?php endforeach; ?>
</ul>
</div>