<!--
 <div class="live-matches-header">
    <span class="strip">
    <img src="/svg/football.svg" alt="" height="24px"> SOCCER LIVE GAMES<span style="font-weight:bold;"></span> </span>
 </div>
 -->

 <div class="live-matches-header">
  <div class="row row-mg-0">
  <div class="col-md-4 strip align-left">
  <a href="/livehome">All Live Games</a>
  </div>
  <div class="col-md-4">
  <span class="strip">
   SOCCER LIVE GAMES</span>
   </div>
   <div class="col-md-4"></div>
   </div>
</div>

<!--
 <div class="odd-wrapper3">

    <div class="row single-livebet-wrapper">

    <div class="row construction">

        <div class="col-md-12">

            <span class="helper"></span>
            <img class="android" style="display: block;margin: auto;" src="/img/coming-soon.png" alt="We will be on Live on Live Games Soon!" />
        </div>

    </div>
 </div>

 </div>
 -->

{{ partial("live/live-matches") }}
{{ javascript_include('js/live_games.js') }}