      {#<div id="fb-root"></div>#}

          {#Carousel#}
          {{ partial("partials/carousel") }}


      <div class="web-element"> 
      
      <!-- {{ image("img/banner.png") }}  -->
      </div>
      
      <div class="homepage block-shadow">
        <div class="col-sm-12 top-matches hd">
            <div class="h">
              <div class="ss col-sm-8 col-xs-12">
                    <a class="col-xs-4 nav-link active-menu" href="/" style="color:white;"><?php echo $t->_('top_games'); ?> <span class="sr-only"></span></a>
                    <a class="col-xs-4 nav-link active-menu active-link" href="/upcoming" style="color:white;"><?php echo $t->_('today'); ?> <span class="sr-only"></span></a>
                    <a class="col-xs-4 nav-link active-menu" href="/tomorrow" style="color:white;"><?php echo $t->_('tomorrow'); ?> <span class="sr-only"></span></a>
           </div>
           <div class="ss col-sm-4 col-xs-12 padding-search hidden-xs">
           <?php echo $this->tag->form([""]); ?>
            <div class="col-sm-8 col-xs-6 nopadding submit-input">
                <input type="text" name="keyword" class="form-control" data-action="grow"
                                         placeholder="Your search criteria">
            </div>
            <div class="col-sm-4 col-xs-6 nopadding search-button">
                <button type="submit" class="search-btn">Search</button>
            </div>
            </form>
        </div>
      </div>
   
     <!-- <a href="{{ url('upcoming') }}" class="col-sm-4 home-tabs-active">
            <span class="col-sm-11 main-header"><?php echo $t->_('upcoming'); ?></span>
        </a>
        <a href="{{ url('') }}" class="col-sm-4 home-tabs">
            <span class="col-sm-11 main-header"> <?php echo $t->_('top_games'); ?></span>
        </a>
        <a href="{{ url('tomorrow') }}" class="col-sm-4 home-tabs">
            <span class="col-sm-11 main-header"><?php echo $t->_('tomorrow'); ?></span>
      </a> -->

</div>
<!-- <header class="match-header">
   <div class="col-sm-4">Win / Draw / Win</div>
   <div class="col-sm-3">1</div>
   <div class="col-sm-1">X</div>
   <div class="col-sm-3">2</div>
   <div class="col-sm-1"></div>
</header>

          <div class="col-sm-12 top-matches">
              <div id="search-event" class="top-matches match-header events-header web-element">
                  <?php echo $this->tag->form([""]); ?>
                  <div class="col-sm-3">Search events</div> <div class="col-sm-6"><input type="text" name="keyword" class="form-control" data-action="grow" placeholder="Team, Competition or Game ID"></div> <div class="col-sm-2"><button type="submit" class="cg fp ">Search</button></div>
                  </form>
              </div>
          </div> -->

          {{ partial("partials/match-list") }}

</div>