 <div class=" single-bet-wrapper2">
        <span class="strip">
        <img src="/svg/football.svg" alt="" height="24px"> WE WILL BE LIVE ON VIRTUAL GAMES SOON. LOOK OUT FOR THE BEST ODDS !!<span style="font-weight:bold;"></span> </span>
</div>

<div class="odd-wrapper3">

    <div class="row single-livebet-wrapper">

        <div class="row construction">

            <div class="col-md-12">

                <span class="helper"></span>
                <img class="android" style="display: block;margin: auto;" src="/img/coming-soon.png" alt="We will be on Live on Virtual Games Soon!" />
            </div>

        </div>
    </div>

</div>